<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Prix</th>
            <th scope="col">Stock</th>
            <th scope="col">Catégorie</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngIf="data && data.articles">
        <tr
            article-item
            *ngFor="let article of data.articles
                | paginate
                    : {
                        itemsPerPage: size,
                        currentPage: page,
                        totalItems: total,
                    }
        "
            (editEvent)="updateCurrentArticle($event)"
            (deleteEvent)="onDeleteArticle($event)"
            [article]="article"
            [deleteLabel]="
                deleteArticleConfirm[article.id] != undefined
                    ? 'OK' + ' (' + countdown + ')'
                    : 'Supprimer'
            "
        ></tr>
    </tbody>
</table>
