.suggestions-box {
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 300px;
    z-index: 1000;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.suggestion-item:last-child {
    border-bottom: none;
}
