/* You can add global styles to this file, and also import other style files */

$primary: #6610f2;
$light: #f1f3ff;


@import "../node_modules/bootstrap/scss/bootstrap";



* {
    font-size: 102%;
}
